@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Kaushan+Script&family=Lato&family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

nav {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 0;
  }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 20px;
    font-family: 'Cardo', serif;
	  font-family: 'Kaushan Script', cursive;
 	  font-family: 'Lato', sans-serif;
	  font-family: 'Libre Baskerville', serif;
    text-transform:uppercase;
    color: rgba(52, 75, 134, 0.678);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(3, 24, 78);
  }

.buttons {
  width: 100%;
  height: 300%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
}

section[class*=box] {
	  height: 50vh;
	  width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

section[class*=box] p{
    font: 1rem;
    color: white;
    position:absolute;
}

.box-1 { 
    background-color: #edbb5f; 
}
.box-2 { 
    background-color: #6b7ebb; 
}
.box-3 { 
    background-color: #618873; 
}
.box-4 { 
  background-color: #c893e7; 
}
.box-5 { 
  background-color: #e7da93; 
}

.btn {
	top: 20vh;
	width: 250px;
	line-height: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #FFF;
	transition: 0.3s;
  position: relative;
  font-size: 2rem;
}

.btn a {
    color: #FFF;
    text-decoration: none;
    transition: 0.3s;
}

.btn::before {
	width: 100%;
	height: 100%;
	content: '';
	position: relative;
	bottom: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
}
.btn:hover a {
  color: rgb(0,0,0);
	letter-spacing: 3px;
}
.btn:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}