@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Kaushan+Script&family=Lato&family=Libre+Baskerville&display=swap');

body {
  margin: 0;
}

.slides {
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 100vh;
}

.slides .slide {
  position: relative;
  -webkit-box-flex: 1;
          flex: 1;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.slides .slide .content {
  position: absolute;
  bottom: 2em;
  margin: 2em;
  text-shadow: 0 3px 3px black;
  color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.slides > *:hover {
  -webkit-box-flex: 6;
          flex-grow: 6;
}

.slides .slide:hover .content {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 0.5s 0.4s;
  transition: 0.5s 0.4s;
}

.slides .slide:nth-child(1) {
  background: url("little.png") center/cover;
}

.slides .slide:nth-child(2) {
  background: url("middleschool.jpeg") center/cover;
}

.slides .slide:nth-child(3) {
  background: url("highschool.jpeg") center/cover;
}

.slides .slide:nth-child(4) {
  background: url("inucsd.jpeg") center/cover;
}

nav {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  font-family: 'Cardo', serif;
  font-family: 'Kaushan Script', cursive;
   font-family: 'Lato', sans-serif;
  font-family: 'Libre Baskerville', serif;
  text-transform:uppercase;
  color: rgba(52, 75, 134, 0.678);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(3, 24, 78);
}
